body {
  font-family: "Barlow", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}

.header {
  display: grid;
  /* grid-template-columns: repeat(2, auto); */
  grid-template-columns: 1fr auto;
  /* justify-content: space-around; */
  align-items: center;
  column-gap: 50px;
  overflow:visible;
}


.logo {
    background-color: #F3791A;
    color: white;
    font-size: 15px;
    height: 40px;
    width: 40px;
    /* overflow:visible; */
    /* word-wrap: break-word; */
    /* text-align: center; */
    /* padding:0;
  margin:0; */
  }


.tm{
  margin: 0;
  text-align: left;
}

.head-preorder {
  background-color: #EAEAF1;
  /* position: relative; */
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  /* text-align: center; */
  margin-top: 10px;
}

.head-preorder:hover {
  color: white;
  background-color: hsl(223, 47%, 23%);
  cursor: pointer;
}

.middle{
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  overflow:visible;
  margin-top:80px;
}

.head{
  font-size: 50px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  line-height: 1;
}

.subtitle{
  font-family: sans-serif;
  color: hsl(224, 23%, 55%);
}

.keyboard{
  justify-self: end;
}

.keyb-img{
  width:50vh;
  width:50vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bottom-preorder{
  background-color: #F3791A;
  color:white;
  padding:20px;
  margin:10px;
  /* height:50px;
  width:100px; */
  font-weight: 700;
  font-size: 15px;
  border-radius:10px;
  border:0;
}

.bottom-preorder:hover{
  background-color: #F9A360;
  cursor: pointer;
}

.release{
  color:grey;
  font-weight: 700;
  display: inline-block;
  margin-left: 30px;
}
